@import url('https://fonts.googles.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: transparent;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    display: inline-block;
    margin-left: -950px;
    text-decoration: none;
    color: #d3337b;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #50abb7 ;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #601cfc;
}

section{
    padding: 100px 200px;

}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background.webp) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: top;
}

.main-btn{
    color: #f0f0f0;
    background-color: #FF00FF;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.187em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 35px;
    margin-top: 40px;
    transition: 0.5s ease;
}

.main-btn:hover {
    background-color: #ae00ae;
    transform: scale(1.1);

}

.main h2 {
    color: #d34dd2;
    font-size: 1cm;
    font-weight: 500;
    
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #a320a3;
    font-size: 1.4cm;
    font-weight: 600;


}

.social-icons a{
    color: #613333;
    font-size: 1.7em;
    padding-right: 25px;
    text-decoration: none;
}

.social-icons :hover{
    color: #ae00ae;
    transform: scale(1.1);
}

section{
    padding: 100px 200px;

}

h1, h2 {
    color: #4a148c; /* Purple */
}

p {
    line-height: 1.6;
    color: #333;
}

ul {
    color: #388e3c; /* Dark Green */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ca9874; /* Green */
    color: #81c784;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.title{
    display: flex;
    justify-content: center;
    color: #613333;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; 
}

.card {
    background-color: #f2c09c ;
    width: 21.25pm;
    box-shadow: 0 5px 15px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover {
    transform: scale(1.1);
}

.icon {
    color: black;
    font-size: 3em;
    text-align: center;
}



.info h3{
    text-align: center;
    color: black;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.delivery {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    background: url(images/background2.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: top;
}

.title2{
    display: flex;
    justify-content: center;
    color: #d34dd2;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.delibery h3 {
    display: flex;
    margin-left: 30px;
}
@media (max-width: 1023px){
    header {
        padding: 12px 20px;
    }

    .logo {
        margin-left: 40px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .main {
        background-position-x: right;
    }

    .title, .title2{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 641){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.7em;
    }
}

@media (max-width: 641){
    body{
        font-size: 10px;
    }

}
